html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #235df3;
}

.fill-container {
  width: 100%;
  height: 100%;
}

.selection-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  background-color: #EF5350;
  color: white;
}

.selection-header img.logo {
  position: relative;
  width: 100px;
  top: -33px;
}

.selection-header label {
  font-weight: bold;
  padding: 0 8px;
}

.poke-button {
  color: #235df3;
  font-weight: bold;
  width: 80px;
  height: 30px;
  background-color: #ffcd04;
  border: 3px solid #235df3;
  border-radius: 3px;
}

.poke-button:focus {
  outline: none;
}

.poke-button:hover {
  cursor: pointer;
}

.poke-button:disabled {
  background-color: gray;
  border-color: gray;
  color: lightgray;
  cursor: not-allowed;
}

.logo-container {
  max-height: 35px;
  max-width: 100px;
  margin-right: 8px;
}

main {
  display: flex;
  flex-direction: column;
  height: calc(100% - 51px);
  box-sizing: border-box;
  padding: 8px;
}

.message-container {
  background-color: #ffcd04;
  padding: 8px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
}

.pokemon-hud {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
}

.pokemon-hud .encounter {
  height: calc(100% - 16px);
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
  margin: 8px;
}

.pokemon-hud .captured {
  height: calc(100% - 16px);
  flex: 1;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
  margin: 8px;
}

.pokemon-hud h3 {
  color: white;
  background-color: #EF5350;
  padding: 8px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.pokemon-hud .encounter .details {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  padding: 8px;
}

.pokemon-hud .encounter .details h3 {
  background-color: inherit;
  color: black;
}

.pokemon-hud .captured .capture-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 100%;
}

.pokemon-hud .captured .capture-list li {
  display: flex;
  list-style: none;
  align-items: center;
}

.pokemon-hud .encounter img {
  width: 200px;
  margin: 0 auto;
}

.pokemon-hud fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.pokemon-hud fieldset .found {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
